@charset "utf-8";

body {
	
  color: #f9f9f9;
	font: 100%/1.5em "Droid Sans", sans-serif;
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  
}

p { margin: 0; }


#container {
	height: 372px;
	left: 50%;
	margin: -150px 0 0 -150px;
	position: relative;
	top: 50%;
  width: 300px;
  
  
}
.app-calendar:hover
{
  opacity: 0.9;
}

/* ---------- APP-CALENDAR ---------- */

.app { text-align: center; }

.app-calendar {
	height: 300px;
	margin-bottom: 24px;
  width: 300px;
  transition: transform 0.5;
  position: relative;

}

.app-title {
	font-size: 24px;
  font-weight: bold;
  color: #f9f9f9;
	text-shadow: 0 5px #15181f;
}

.weekday {
	background: #d9383c;
	border-radius: 35px 35px 0 0;
	color: #f9f9f9;
	font-size: 24px;
	line-height: 56px;
	position: relative;
	text-transform: lowercase;
}

.weekday:before,
.weekday:after {
	background: #f9f9f9;
	border-radius: 50%;
	content: "";
	height: 8px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
	
}

.weekday:before { left: 24px; }
.weekday:after { right: 24px; }

.day {
	background: #f9f9f9;
	border-radius: 0 0 35px 35px;
	-webkit-box-shadow: 0 8px 0 #15181f;
	box-shadow: 0 8px 0 #15181f;
	color: #15181f;
	font-size: 120px;
	font-weight: bold;
	height: 216px;
	line-height: 216px;
}


.booklet           {
	width:100%;
	height:100%;
	margin-top: 300px;
	position:absolute;
	margin:0 auto 10px;
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	position: fixed;
	z-index: 2;
	}
	
	.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
	}

	
	.flipbook h1{
	color:orange;
	margin:5px 5px 5px 15px;
	font-size:24px;
	background:transparent url(images/h1.png) no-repeat bottom left;
	padding-bottom:7px;
	text-transform: uppercase;
	font-weight: normal;
	z-index: 3;
	overflow: hidden;
	}
	.flipbook p{
		font-size:15px;
		margin:5px 5px 5px 15px;
		font-family: 'Poppins',sans-serif;
		position: relative;
		color: #15181f;
	
	}
	.flipbook p::before
	{
		content: "  ";
		position: absolute;
		Left: 50%;
		background: linear-gradient(90deg,transparent 0%, #000000 51%, #000
		100%);
		
	}
	#mybook
	{
		display: none;
	}
	
	.flipbook img{
	margin:10px 0px 5px 35px;
	width:500px;
	padding:4px;
	border:1px solid #ddd;
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	box-shadow:1px 1px 1px #fff;
		
	}
	.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
	}